<app-foundation [currentUser]="currentUser" [title]="selection.district + ' '
+ selection.buildingNumber + ', ' + selection.city"></app-foundation>

<div class="main-screen">
  <div class="top-panel">
    <div class="activities-panel">
      <h2>Дейности</h2> <br>

      <h3 id="finished">{{getNumberOfActivitiesByType(ActivityType.FINISHED)}} Завършени</h3>
      <h3 id="active">{{getNumberOfActivitiesByType(ActivityType.ACTIVE)}} Активни</h3>
      <h3 id="aborted">{{getNumberOfActivitiesByType(ActivityType.ABORTED)}} Прекратени</h3>
    </div>
    <div class="notifications-panel">
      <h2>Обявления</h2> <br>

      <h3 id="active-notification">{{getNumberOfNotificationsByType(NotificationType.ACTIVE)}} Активни</h3>
      <h3 id="expired">{{getNumberOfNotificationsByType(NotificationType.EXPIRED)}} Изтекли</h3>
      <h3 id="archived">{{getNumberOfNotificationsByType(NotificationType.ARCHIVED)}} Архивирани</h3>
    </div>
    <div class="cashier-panel">
      <h2>Каса</h2> <br>

      <h4>Касиер: {{selection.safe.cashierName}}</h4>
    </div>
  </div>
  <div class="additional-info-panel">
    <h3>Договорът е активен до {{getContractExpiryDate()}}</h3>
    <h3>Сградата разполага с {{selection.numberOfApartments}} жилища</h3>
    <div class="contacts-info" *ngIf="selection.contact != null">
      <h3>Контакти:</h3>
      <h4>{{selection.contact?.name}}: {{selection.contact?.phone}}</h4>
    </div>
  </div>
</div>
